[Unit]
Description=Generic Event Dispatcher Daemon
After=network.target
After=mariadb.service

[Service]
Type=forking
ExecStart=/srv/rgm/ged/bin/ged -c /srv/rgm/ged/etc/ged.cfg

[Install]
WantedBy=multi-user.target
